<!DOCTYPE html>
<html>
<head>`
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/css/stylesheet.css")" rel="stylesheet" type="text/css" />
    <style>
        body {
            margin: 0px;
            min-height: 100%;
            position: relative;
            padding-bottom: 50px;
        }
        footer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 50px;
        }
    </style>
    <title>Home Page</title>
</head>
<body>
    <div class="navigation">
        <table>
            <tr>
                <td class="navbutton"><a asp-action="Index">Index</a></td>
                <td class="navbutton"><a asp-action="BuyPage">Store</a></td>
                <td class="navbutton"><a asp-action="SellPage">Sell</a></td>
                <td class="navbutton"><a asp-action="Login">Sign In</a></td>
                <td class="navbutton"><a asp-action="Register">Sign Up</a></td>
            </tr>
        </table>
    </div>
    @RenderBody()
    <footer>
        <p>&copy; 2018 - BGame </p>
    </footer>
</body>
</html>