<!DOCTYPE html>
<html>
<head>`
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/css/stylesheet.css")" rel="stylesheet" type="text/css" />
    <style>
        body {
            margin-left: auto;
            margin-right: auto;
            height: 100%;
            position: relative;
            padding: 0px;
            margin: 0px;
            font-family: Arial,Helvetica,sans-serif;
        }

        header {
            text-align: center;
            height: 180px;
            margin-top: auto;
            margin-bottom: auto;
            display: block;
            background-color: #03232E;
            overflow: auto;
        }

        footer {
            bottom: 0px;
            position: absolute;
            width: 100%;
        }
        .container {
            background-color: #ffffff;
            border: 1px solid black;
            opacity: 1;
            width: 1080px;
            min-height: 1100px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            display: block;
            left: 0px;
            right: 0px;
        }
        .navigation {
            background-color: lightblue;
            margin: 0px;
            width: 1060px;
            margin-left: auto;
            margin-right: auto;
            height: 60px;
            text-align: center;
        }
        footer p {
            background-color: #bc9b5d;
            color: #ffffff;
            font-family: Arial,Helvetica,sans-serif;
            text-align: center;
            height: 3em;
        }

        
    </style>
    <title>Home Page</title>
</head>
<body>
    <header>
        <div class="navigation">
            <table>
                <tr>
                    <td class="navbutton"><a asp-action="Index">Index</a></td>
                    <td class="navbutton"><a asp-action="BuyPage">Store</a></td>
                    <td class="navbutton"><a asp-action="SellPage">Sell</a></td>
                    <td class="navbutton"><a asp-action="Login">Sign In</a></td>
                    <td class="navbutton"><a asp-action="Register">Sign Up</a></td>
                </tr>
            </table>
        </div>

    </header>
    <div class="container">
        @RenderBody()
    </div>
    

    <footer>
        <p>&copy; 2018 - BGame </p>
    </footer>
</body>
</html>